body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #323232;
  margin: 0px;
  padding: 0px;
  background-color: #FFF;
  min-width: 900px;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  height: 75px;
  background-color: #4BAEFF;
  color: #FFF;
}

.content {
  position: relative;
  width: 900px;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
}

header .content .title {
  color: #004b6a;
  position: absolute;
  padding-bottom: 10px;
  bottom: 0px;
  font-size: 1.25em;
}

header .content .title:hover {
  color: #FFF;
}

header .survey {
  background-color: #004b6a;
  color: #FFF;
  float: right;
  font-weight: 700;
  padding: 5px 15px 10px 15px;
  cursor: pointer;
}

.right-opts {
  color: #4BAEFF;
  font-weight: 700;
  float: right;
}

.right-opts .opt {
  float: right;
  padding: 10px 12px 10px 12px;
}

.right-opts .opt.inverse {
  color: #004b6a;
}

.back {
  color: #4BAEFF;
  padding-top: 20px;
  opacity: 0.75;
}

.back:hover {
  opacity: 1;
}

.header {
  padding-top: 25px;
  color: #4BAEFF;
  font-size: 3em;
  font-weight: 700;
}

.header .opt {
  font-size: 0.35em;
  padding: 10px 17px 10px 17px;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.header .opt.selected {
  background-color: #4BAEFF;
  color: #FFF;
}

.main {
  margin-top: 35px;
}

.main h1, .main h2, .main h3, .main h4, .main h5 {
  color: #4BAEFF;
}

.main .left {
  float: left;
  width: 560px;
  padding: 10px;
  padding-left: 0px;
  padding-right: 30px;
}

.main .right {
  float: left;
  width: 300px;
  margin-top: 10px;
  padding: 0px 0px 0px 0px;
  color: #FFF;
  background-color: #4BAEFF;
}

.right img {
  width: 100%;
}

.right h1, .right h2, .right h3, .right h4, .right p {
  color: #FFF;
  padding-left: 25px;
  padding-right: 25px;
}

.grey {
  color: #999999;
}

.blue {
  color: #4BAEFF;
}





